.account-order {

font-family: Arial;

.view-button{
	margin-top: 10px;
}

scroll-content{
	padding-bottom: 52px;
}

.item {
    padding: 0;
}
.label {
    margin: 11px 8px 11px 16px;
}

.item h2 {
    margin: 5px 0;
    font-size: 15px;
    font-weight: normal;
}
}