<ion-header>
<ion-navbar color="shadow">
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title text-wrap text-center>Order Summary</ion-title>
</ion-navbar>
</ion-header>

<ion-content text-wrap class="order-summary">

<div *ngIf="orderSummary" style="margin: 5px 5px 40px 5px;">
<div *ngIf="orderSummary.order">

<div class="thank">
<ion-item>
<h2 style="font-size:20px; margin: 10px 0;">Order Received </h2>
<h2 style="margin-bottom: 10px;">Thank you. Your order has been received.</h2>
</ion-item>
</div>

<div *ngIf="orderSummary" class="summary">
<ion-item no-lines>
      <h2>Order Number : {{orderSummary.order.order_number}}</h2>
      <h2>Order date : {{orderSummary.order.created_at | date:'medium'}}</h2>
      <h2>Total quantity :  {{orderSummary.order.total_line_items_quantity}}</h2>
      <h2>Total :  {{1*orderSummary.order.total | currency:values.currency:true:'1.2-2'}}</h2>
      <h2>Payment Method :  {{orderSummary.order.payment_details.method_title}}</h2>
</ion-item>
</div>

<div class="order-details">
  <ion-item no-lines>
   <ion-label style="font-size:16px;color: #bf4080;">Order Details</ion-label></ion-item>

    <div *ngFor="let item of orderSummary.order.line_items | keys">
    <ion-row >
         <ion-col width-75>
            <ion-label no-margin>{{item.value.name}} - ({{item.value.quantity}})</ion-label>
         </ion-col>
         <ion-col width-25 text-right>
            <ion-label no-margin>{{1*item.value.subtotal | currency:values.currency:true:'1.2-2' }}</ion-label>
         </ion-col>
    </ion-row>
    </div>
 
    <ion-row *ngIf="orderSummary.order.coupon_lines.length != 0" > 
         <ion-col width-75>
           <ion-label no-margin>coupon</ion-label>
         </ion-col>
         <ion-col width-25 text-right>
            <ion-label no-margin>{{1*orderSummary.order.total_discount | currency:values.currency:true:'1.2-2' }}</ion-label>
         </ion-col>
    </ion-row>

    <ion-row > 
         <ion-col width-75>
            <ion-label no-margin>Subtotal</ion-label>
         </ion-col>
         <ion-col width-25 text-right>
            <ion-label no-margin>{{1*orderSummary.order.subtotal | currency:values.currency:true:'1.2-2' }}</ion-label>
         </ion-col>
    </ion-row>

    <ion-row > 
         <ion-col width-50>
            <ion-label no-margin>Shipping</ion-label>
         </ion-col>
         <ion-col width-50 text-right>
            <ion-label no-margin>{{orderSummary.order.shipping_methods}}</ion-label>
         </ion-col>
    </ion-row>

    <ion-row > 
         <ion-col width-50>
            <ion-label no-margin>Payment Method</ion-label>
         </ion-col>
         <ion-col width-50 text-right>
            <ion-label no-margin>{{orderSummary.order.payment_details.method_title}}</ion-label>
         </ion-col>
    </ion-row>

    <ion-row style="padding:10; background-color:#f2f2f2"> 
         <ion-col width-75>
            <ion-label  style="font-size:16px;color: #bf4080;">Total</ion-label>
         </ion-col>
         <ion-col width-25 text-right>
            <ion-label><b>{{1*orderSummary.order.total | currency:values.currency:true:'1.2-2' }}</b></ion-label>
         </ion-col>
    </ion-row>

</div>

</div>
</div>

</ion-content>

<ion-footer *ngIf="orderSummary">
    <button ion-button full color="shadow" no-padding no-margin (click)="Continue()">
        Continue
    </button>
</ion-footer>